
<div class="mx-auto" style="width: 75%; font-weight:100;">

<h2>Create New Job</h2>

<form class="form-group mx-auto" action="/posts" method="POST" id="usrform">
  <div>Name: <input class="form-control" type="text" name="name" placeholder="Enter name of job"></div>
  <div>Description:</div>
  <textarea rows="4" cols="50" class="form-control" name="description" form="usrform" placeholder="Enter job description"></textarea>
  <br>
  <label for="contractor-bid">Allow for contractors to bid on this job</label>
  <input type="checkbox" id="contractor-bid" name="contractor-bid" value="true" checked>
  <br>
  <button class="btn btn-success my-2 my-sm-0" type="submit">Submit</button>
</form>

</div>
