<h2>Create New Job</h2>

<form action="/posts" method="POST" id="usrform">
  <div>Name: <input type="text" name="name"></div>
  <div>Description:</div>
  <textarea rows="4" cols="50" name="description" form="usrform"></textarea>
  <input type="submit">
</form>
